@font-face {
  font-family: 'LXGW WenKai';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./LXGWWenKai-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'LXGW WenKai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./LXGWWenKai-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LXGW WenKai';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./LXGWWenKai-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./oxanium-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./oxanium-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./oxanium-800.ttf') format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./rajdhani-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./rajdhani-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./rajdhani-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./space-grotesk-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./space-grotesk-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./space-grotesk-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./space-grotesk-700.ttf') format('truetype');
}
